* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #282D35;
}



nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 80px;
  padding: 30px 25px;
  box-shadow: 0px 2.98256px 7.4564px rgba(66, 216, 243, 0.1);
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #00a9c5;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 50px;
  margin-right: 7px;
  max-width: 100px;
}







main {
  padding: 57px 27px;
  color: white;
  background-image: url(./images/icons-security.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 15%;
  background-size: 25%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.hero--text {
  margin-top: 10;
  max-width: 600px;
  margin-bottom: 50px;
  text-align: justify;
}

.main--facts {
  margin-top: 46px;
  max-width: 800px;
}

.main--facts>li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts>li::marker {
  font-size: 1.4rem;
  color: #00a9c5;
}

select {
  width: 40%;
  padding: 10px 15px;
  border: 1px dashed #00a9c5;
  border-radius: 4px;
  background-color: white;
  margin-left: 100px;
  color: black;
}

input {
  border: 2px solid;
  border-radius: 4px;
  font-size: 1rem;
  min-width: 130px;
  padding: 0.5rem;
  width: 40%;
  transition: background-color 0.5s ease-out;
  margin-left: 130px;
}

input[type="radio"]{
	color: #00a9c5;
  margin: 0px;
  margin-top: 20px;
  width: 60px;
  margin-left: 150px;
}

.form--button {
  border-radius: 5px;
  background: linear-gradient(90.41deg, #00a9c5 1.14%, #4e338d 100%);
  color: white;
  border: none;
  cursor: pointer;
  width: 67%;
  height: 38px;
  font-size: 1.3rem;
}

#jack {
  margin-left: 75px;
}

#rname {
  margin-left: 75px;
}

#regionSelect {
  margin-left: 144px;
}

input:disabled {
  background: #8091ad;
}